@font-face {
    font-family: Montserrat;
    src: url("../Fonts/montserrat.woff");
}

@font-face {
    font-family: Montserrat-Bolt;
    src: url("../Fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../Fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Montserrat-Extra-Light;
    src: url("../Fonts/Montserrat-ExtraLight.ttf");
}

body {
    font-family: Montserrat, serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background: url("../IMG/Sections background/section-1(header).jpg") no-repeat fixed;
    opacity: .8;
    background-size: cover;
}

.top-menu {
    height: 121px;
    background-color: rgba(73, 71, 63, 0.6);
    display: flex;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 28px;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../IMG/Polygon 1@1X.png") no-repeat center;
    height: 67px;
    width: 58px;
    position: relative;
}

.img-H {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
}

.logo-text1 {
    margin-left: 8px;
    color: #ffffff;
    font-family: "Montserrat-Light", serif;
}

.logo-text2 {
    font-weight: 700;
    color: #18cfab;
}

.top-menu-container {
    display: flex;
    flex-direction: row;
    width: 680px;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;

}

.top-menu-link {
    position: relative;
    color: #b8b8b8;
    font-weight: 600;
    transition: .5s;
}

.top-menu-link::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 50px;
    height: 2px;
    width: 0;
    border-bottom: 2px solid #18cfab;
    transition: .3s;
}

.top-menu-link:hover {
    color: #18cfab;
}

.top-menu-link:hover::after {
    width: 100%;
}

.menu-search {
    color: #b8b8b8;
    font-size: 20px;
    transition: .5s;
}

.menu-search:hover {
    color: #18cfab;
}

.main-slogan {
    padding: 246px 0 244px 0;
    text-transform: uppercase;
}

.wordpress-theme1 {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 45px;
}

.wordpress-theme2 {
    color: #18cfab;
}

.we-creative {
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 37px;
}

.just-buy {
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat-Extra-Light", serif;
    font-weight: 300;
    margin-bottom: 142px;
}

.btn {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    width: 166px;
    justify-content: center;
    padding: 26px 0;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
}

.header-btn {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.green-btn {
    background-color: #18cfab;
    border-top: 3px solid #ffffff;

}

.green-btn-border-none {
    background-color: #18cfab;
}

.blue-btn {
    background-color: #00cbf6;
    border-top: 3px solid #ffffff;
}

.advantages-container {
    display: flex;
    flex-direction: row;
}

.advantages-boxes {
    display: flex;
    width: 25%;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
}

.gray-bg {
    background-color: #1c2a33;
    padding: 95px 0 120px 0;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.green-bg {
    background-color: #18cfab;
    padding: 106px 0 120px 0;
    color: #ffffff;
    border-top: 7px solid #ffffff;
}

.img-green {
    padding-bottom:48px;
}

.img-white {
    padding-bottom:59px;
}

.our-services {
    background-color: #ffffff;
}

.title {
    font-size: 36px;
    color: #4e4e4e;
    padding: 82px 0 37px 0;
    font-family: "Montserrat-Light", serif;
}

.title::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 75px;
    left: 48%;
    right: auto;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 47%;
    margin-top: 30px;
    right: auto;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
}

.tabs {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.tabs-caption {
    display: flex;
}

.tabs-title {
    width: 192px;
    background-color: #f8fcfe;
    padding: 28px 0 30px 0;
    color: #717171;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #18cfab;
    color: #ffffff;
    border: none;
}

.tabs-title.active::after {
    content: '';
    position: absolute;
    display: block;
    margin-left: 85px;
    margin-top: 32px;
    width: 0;
    height: 0;
    border-top: 12px solid #18cfab;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.tabs-content-container {
    padding: 24px 0 103px 0;

}

.tabs-content {
    display: none;
    align-items: center;
}

.tabs-content.active {
    display: flex;
}

.img-services {
    margin-right: 15px;
    border: 1px solid #ebebeb;
}

.services-text {
    margin: 0;
    font-size: 15px;
    font-family: "Montserrat-Extra-Light", serif;
    color: #717171;
    line-height: 1.7em;
    text-align: justify;
}

.container-everything-ready {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../IMG/Sections background/section-2.jpg") no-repeat fixed;
    background-size: cover;
    padding-bottom: 128px;

}

.everything-ready {
    color: #18cfab;
    font-size: 40px;
    padding: 128px 0 35px 0;
    text-transform: uppercase;
}

.some-advantages {
    font-size: 16px;
    color: #e1e1e1;
    font-family: Montserrat-Light, serif;
    padding-bottom: 80px;
}

.amazing-work {
    background-color: #f8fcfe;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 100px;
}

.work-categories {
    display: flex;
    padding: 70px 0 70px 0;

}

.categories-title {
    padding: 24px 25px 20px 24px;
    color: #717171;
    cursor: pointer;
    border: 1px solid #ebebeb;;
    position: relative;
}

.categories-title.active::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: -2px;
    width: 100%;
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 71px;
}

.item {
    position: relative;
    width: 25%;
}

.on-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    opacity: 1;
    transition: .5s ease-out;
}

.on-hover::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 2px;
    top: 0;
    background-color: #18cfab;
}

.icon-link {
    display: flex;
    justify-content: space-between;
    width: 93px;
}

.round-btn {
    border: 1px solid #18cfab;
    padding: 13px;
    border-radius: 50%;
    color: #18cfab;
    transition: .5s;
}

.round-btn:hover {
    background-color: #18cfab;
    color: #ffffff;
}

.on-hover-title {
    font-size: 16px;
    padding: 34px 0 13px 0;
    text-transform: uppercase;
    color: #18cfab;
}

.categories-name {
    font-size: 14px;
    color: #707070;
    font-family: Montserrat-Light, serif;
}

.item:hover .on-hover {
    height: 100%;
}

.work-img {
    height: 99.7%;
    width: 99.7%;
}

.fa-plus {
    font-size: 20px;
    margin-right: 16px;
}

.news {
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-post {
    position: relative;
    padding-bottom: 45px;
}

.green-square {
    position: absolute;
    top: 1px;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
}

.date {
    font-size: 16px;
    font-family: "Montserrat-Light", serif;
    color: #ffffff;
}

.date-position {
    padding-top: 15px;
}

.post-content {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #f8fcfe;
}

.post-title {
    padding-bottom: 14px;
    font-size: 18px;
    color: #717171;
    margin: 14px 0 0 15px;
}

.post-text {
    font-family: "Montserrat-Extra-Light", serif;
    color: #777777;
    margin: 0 0 12px 15px;
}

.news-post:hover .green-square {
    background-color: #18cfab;
    transition: .2s;
}

.news-post:hover .post-title {
    color: #18cfab;
    transition: .2s;
}

.slider-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../IMG/Sections background/section-3.jpg") no-repeat fixed;
    background-size: cover;;
    margin-top: 88px;
}

.slider-wrapper {
    padding-bottom: 100px;
}

.title-white {
    text-align: center;
    color: #ffffff;
}

.quotes {
    padding: 69px 0 43px 0;
}

.slide-text {
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    margin: 0;
    font-family: Montserrat-Extra-Light, serif;
    color: #bbbbbb;
}

.person-name {
    text-transform: uppercase;
    color: #18cfab;
    padding: 43px 0 20px 0;
}

.person-function {
    padding-bottom: 27px;
    font-family: Montserrat-Extra-Light, serif;
    font-size: 13px;
    color: #bbbbbb;
}

.slide-img-border {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 13px solid rgba(16, 76, 75, 0.5);
    border-radius: 50%;
    width: 164px;
    height: 164px;
}

.slide-img {
    width: 100%;
    border: 3px solid #18cfab;
    border-radius: 50%;
    height: 100%;
}

.slider-nav-wrapper {
    height: 135px;
    width: 450px;
    margin: 0 auto;
}

.slide-img-border-mini {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 8px solid rgba(16, 76, 75, 0.5);
    margin: 50px 15px 0 15px;
}

.slick-slide:focus {
    outline: none;
}

.arrow-border {
    color: #777777;
    border: 1px solid #777777;
    padding: 9px 11px;
    cursor: pointer;
    transition: .5s;
}

.arrow-border:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: #ffffff;
}

.previous {
    position: absolute;
    bottom: 27px;
    left: -40px;
}

.next {
    position: absolute;
    bottom: 27px;
    right: -40px;
}

.slick-slide.slick-active.slick-current > div > .slick-img-mini > .slide-img-border-mini {
    position: relative;
    bottom: 20px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(16, 76, 75, 0.5);
}

.title-grid {
    text-align: center;
}

.grid {
    padding: 57px 0 67px 0;
}

.grid-item {
    padding-top: 13px;
    width: 370px;
}

.grid-img-container {
    position: relative;
    display: inline-block;
}

.grid-on-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    overflow: hidden;
    opacity: 1;
    transition: .5s ease-out;
}

.grid-img-container:hover .grid-on-hover {
    height: calc(100% - 3px);
}

.grid-icon-link {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.square-btn {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #14b9d5;
    color: #ffffff;
    transition: .5s;
}

.square-btn:hover {
    background-color: #ffffff;
    color: #14b9d5;
}

.footer {
    margin-top: 86px;
    background-color: #22353f;
}

.copy {
    text-align: center;
    font-family: Montserrat-Extra-Light, serif;
    font-size: 14px;
    color: #fafafa;
    padding: 47px 0;
}

.theHam-link {
    color: #18cfab;
}